extends ./homelayout.jade
    
block title
  title Create Recipe

block createlink
  li.active
    a(href='/create')
      | Create Recipe
      span.sr-only (current)

block content
  script(src='/javascripts/create.js')

  h2
    .col-sm-2
    | Create Recipe
  
  .modal-body.row
    // Left column
    .col-md-5.col-md-offset-1
      .row
        form#recipeForm(method='post')
          .form-group.form-horizontal
            .form-group
              label.col-md-2.control-label(for='recipeTitle') Title
              .col-md-10
                input.form-control(type='text', name='title', placeholder='Give your recipe a title')
            .form-group
              label.col-md-2.control-label(for='recipeDescription') Description
              .col-md-10
                input.form-control(type='text', name='description', placeholder='Describe your recipe')
            .form-group
              label.col-md-2.control-label(for='recipeTheme') Theme
              .col-md-10
                input.form-control(type='text', name='theme', placeholder='Give your recipe a theme')
          br
          .form-group#ingredientsForm  
            .form-group
              .row
                .col-md-2
                .col-md-5
                  label Ingredient
                .col-md-2
                  label Amount
                .col-md-3
                  label Unit
            .form-group
              .row
                .col-md-1.col-md-offset-1
                  button.btn.btn-default.addIngredientButton(type='button')
                    span.glyphicon.glyphicon-plus
                .col-md-5
                  input.form-control(type='text', name='ingredients_ingredient', placeholder='Ingredient')
                .col-md-2
                  input.form-control(type='text', name='ingredients_amount', placeholder='#')
                .col-md-3
                  select.form-control(name='ingredients_unit')
                    option Teaspoon
                    option Tablespoon
                    option Fluid Ounce
                    option Cup
                    option Pint
                    option Quart
                    option Gallon
                    option Milliliter
                    option Liter
                    option Pound
                    option Ounce
                    option Milligram
                    option Gram
                    option Kilogram
                    option Centimeter
                    option Inch
                    option Package
                    option None
            #ingredientTemplate.form-group.hide
              .row
                .col-md-1.col-md-offset-1
                  button.btn.btn-default.removeIngredientButton(type='button')
                    span.glyphicon.glyphicon-minus
                .col-md-5#ingredientCol
                  input.form-control(disabled='disabled', type='text', name='ingredient', placeholder='Ingredient')
                .col-md-2#amountCol
                  input.form-control(disabled='disabled', type'text', name='amount', placeholder='#')
                .col-md-3#unitCol
                  select.form-control(disabled='disabled', name='unit')
                    option Teaspoon
                    option Tablespoon
                    option Fluid Ounce
                    option Cup
                    option Pint
                    option Quart
                    option Gallon
                    option Milliliter
                    option Liter
                    option Pound
                    option Ounce
                    option Milligram
                    option Gram
                    option Kilogram
                    option Centimeter
                    option Inch
                    option Package
                    option None

          br
          .form-group#instructionsForm
            .form-group
              .row
                .col-md-2
                .col-md-10
                  label Instructions
            .form-group
              .row
                .col-md-1
                .col-md-1
                  button.btn.btn-default.addInstructionButton(type='button')
                    span.glyphicon.glyphicon-plus
                .col-md-10
                  input.form-control(type="text", name="instructions_instruction", placeholder='Type each step of your recipe')
            #instructionTemplate.form-group.hide
              .row
                .col-md-1
                .col-md-1
                  button.btn.btn-default.removeInstructionButton(type='button')
                    span.glyphicon.glyphicon-minus
                .col-md-10
                  input.form-control(disabled='disabled', type="text", name="instruction", placeholder='Type each step of your recipe')
          br
          .form-group#notesForm
            .row
              .col-md-2
              .col-md-10
                label Notes
            .row
              .col-md-2
              .col-md-10
                textarea.form-control(type='text', name='notes', rows='5', resize='vertical')
          .row
            .pull-right
              button.btn.btn-default.btn-block(type='submit') Submit
    // Right column
    .col-md-5
      .row
    // Right padding
    .col-md-1
