extends ./homelayout.jade
    
block title
  title Help

block navbar
  nav.navbar.navbar-inverse(role='navigation', style='padding-left:130px;')
    ul.nav.navbar-nav
      li
        a(href='/home') Home
      li
        a(href='/shopping') Shopping List
      li
        a(href='/search') Advanced Search
      li
        a(href='/create') Create Recipe
      li.active
        a(href='/help') 
          | Help
          span.sr-only (current)
