extends ./homelayout.jade
    
block title
  title Help

block helplink
  li.active
    a(href='/help') 
      | Help
      span.sr-only (current)
      
block content
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src='/javascripts/help.js')

  .modal-body.row
    // Left column
    .col-md-4.col-md-offset-1
      .row
        h2 Description of Recipe Organizer
        br
        | This is our awesome sight that lets you get recipes from a database of recipes that you have stored. Its really cool and you can learn a lot of really cool stuff. Like how to make cheese-burger soup.
      .row
        h3 About Us
      .row
        .col-md-9 Chad Bacon
      .row
        .col-md-9.col-md-offset-1 This is stuff about Chad Bacon, he wants to be night-crawler
      br
      .row  
        .col-md-9 Chad Barlow
      .row
        .col-md-9.col-md-offset-1 This is stuff about Chad Barlow, he wants to be Iron-man
      
      .row
        h3 How To's:
        .row
          .col-md-1
            button.btn.btn-default.thing(type='button', data-toggle='collapse', data-target='#advancedSearch')
              span.glyphicon.glyphicon-download
          .col-md-3.vertalign
            label Advanced Search
        .row
          .col-md-1
          .col-md-9#advancedSearch.collapse 
            | Some text..
        br
        .row
          .col-md-1
            button.btn.btn-default(type='button', data-toggle='collapse', data-target='#createRecipe')
              span.glyphicon.glyphicon-download
          .col-md-3.vertalign
            label Create Recipe
        .row
          .col-md-1
          .col-md-9#createRecipe.collapse 
            | Some text.. 
        br
        .row
          .col-md-1
            button.btn.btn-default(type='button', data-toggle='collapse', data-target='#shoplist')
              span.glyphicon.glyphicon-download
          .col-md-3.vertalign
            label Making a shopping list
        .row
          .col-md-1
          .col-md-9#shoplist.collapse 
            | Some text..
        br
        .row
          .col-md-1
            button.btn.btn-default(type='button', data-toggle='collapse', data-target='#other')
              span.glyphicon.glyphicon-download
          .col-md-3.vertalign
            label Other
        .row
          .col-md-1
          .col-md-9#other.collapse 
            | Some text..       
          

    // Right column
    .col-md-6
      image#viewCreateRecipe This is an image 
    // Right padding
    .col-md-1
