extends ./homelayout.jade
    
block title
  title Advanced Search

block searchlink
  li.active
    a(href='/search') 
      | Advanced Search
      span.sr-only (current)

block content
  
  h2
    .col-md-2
    | Advanced Search

  .modal-body.row
    // Left column
    .col-md-4.col-md-offset-1
      .row
        form#searchForm.form-horizontal
          .form-group
            label.col-sm-3.control-label(for='inputTitle') Title
            .col-sm-9
              input#inputTitle.form-control(name='title', type='input')
          .form-group
            label.col-sm-3.control-label(for='inputIngredient') Ingredient
            .col-sm-9
              input#inputIngredient.form-control(name='ingredient', type='input')
          .form-group
            label.col-sm-3.control-label(for='inputTheme') Theme
            .col-sm-9
              input#inputTheme.form-control(name='theme', type='input')
          .form-group
            .col-sm-offset-5.col-sm-4
              button#searchButton.btn.btn-default.btn-block(type='button') Search

    // Right column
    .col-md-6
      .text-center Results go here
    // Right padding
    .col-md-1

  script(src='/javascripts/search.js')
